# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [2]:
sqr={i:i**2 for i in range(1,11)}
print(sqr)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
for key,val in sqr.items():
    print(f"{key } -> {val}") 


sqr[11]=121
sqr.pop(1)
print(sqr)

1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36
7 -> 49
8 -> 64
9 -> 81
10 -> 100
11 -> 121
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [6]:
qub=dict((i,i**3) for i in range(1,11))
print(qub)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [9]:
sqr1={i:i**2 for i in range(1,6)}
sqr2={i:i**2 for i in range(6,11)}
print(sqr1,sqr2)
marge={**sqr1,**sqr2}
print(marge)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25} {6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
students={
    "student1":{
        "name":"susovan",
        "age":19,
        "grades":{
            "math":'A',
            "English":'B',
            "science":'E'
        }
    },
    "student2":{
        "name":"pupai",
        "age":18,
        "grades":{
            "math":'B',
            "English":'E',
            "science":'A'
        }
    }
}

print(students["student1"])

{'name': 'susovan', 'age': 19, 'grades': {'math': 'A', 'English': 'B', 'science': 'E'}}

In [13]:
dist_list={k:[k*i for i in range(1,6)] for k in range(1,6)}
print(dist_list)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [15]:
dist_tuple={k:tuple(k*i for i in range(1,6)) for k in range(1,6)}
print(dist_tuple)
dist_tuple={k:(k,k**2) for k in range(1,6)}
print(dist_tuple)

{1: (1, 2, 3, 4, 5), 2: (2, 4, 6, 8, 10), 3: (3, 6, 9, 12, 15), 4: (4, 8, 12, 16, 20), 5: (5, 10, 15, 20, 25)}
{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [19]:
sqr1={i:i**2 for i in range(1,11)}
lst=[(key,val) for key,val in sqr1.items()]
print(lst)

even_sqr={key:val for key,val in sqr1.items() if key%2==0}
print(even_sqr)

swapped_dict={val:key for key,val in sqr1.items()}
print(swapped_dict)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [22]:
####   A 'defaultdict' automatically creates a default value for a key that doesn’t exist, so you don’t get a KeyError.
from collections import defaultdict

defaul_dict_of_lists=defaultdict(list)     ###  Create a defaultdict where each key has default value as an empty list

print(defaul_dict_of_lists)

defaul_dict_of_lists["fruit"].append("apple")
defaul_dict_of_lists["flower"].append("rose")

print(defaul_dict_of_lists,defaul_dict_of_lists["dress"])

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {'fruit': ['apple'], 'flower': ['rose'], 'dress': []}) []

In [24]:
st=input("enter a string : ")

dt={}
st=st.lower().replace(" ","")
print(" after removing space and to lower - ",st)

for i in st:
    if( i in dt.keys()):
        dt[i]+=1
    else:
        dt[i]=1

print(dt)

 after removing space and to lower -  hiiiimynameispupai
{'h': 1, 'i': 6, 'm': 2, 'y': 1, 'n': 1, 'a': 2, 'e': 1, 's': 1, 'p': 2, 'u': 1}

In [27]:
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}
print(book)

book_json=json.dumps(book)
print(book_json)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960, 'genre': 'Fiction'}
{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}