In [ ]:
## use backslash (\) -> continue statement to the next line
total=1+2+4+9+2+\
    4+5+1
print(total)

28

In [ ]:
# multiple variable
x=9;y=90;z=98
print(x,y,z)

9 90 98

In [5]:
name="susovan"
print(type(name))
name=908
print(type(name))
name=91.234
print(type(name))

<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
age=20
if(age>18):
    print(age)
print(569)

20
569

In [10]:
print(name)
print("my age is : ",age)
print(type(str(age)))
age=21.6
print(f"age is {age}")
print(f"exact age is - {int(age)}")

91.234
my age is :  20
<class 'str'>
age is 21.6
exact age is - 21

In [ ]:
name=input("enter name : ")  ## default str input
print(name,type(name))
age=int(input("enger age :")) ## typecust into str to int

pupai <class 'str'>
21 <class 'int'>

In [14]:
num1=float(input("Enetr num1: "))
num2=float(input("enter num2: "))

sum=num1+num2
pro=num1*num2
diff=num1-num2
quo=num1/num2

print(f"sum is : {sum} diff is : {diff} product is : {pro} quotient is : {quo}")

sum is : 16.0 diff is : 8.0 product is : 48.0 quotient is : 3.0

In [7]:
for i in range(1,11,2):
    print(i)
str="SuSoVanpAuL"    
for i in str:
    if(i.isupper()):
        continue
    if(i=='p'):
        break
    print(i)

1
3
5
7
9
u
o
a
n

In [5]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [8]:
for i in range(1,10,2):
    pass

In [11]:
for i in range(1,4):
    print(f"i is - {i}")
    for j in range(1,4):
        print(f"  ->j is - {j}")

i is - 1
  ->j is - 1
  ->j is - 2
  ->j is - 3
i is - 2
  ->j is - 1
  ->j is - 2
  ->j is - 3
i is - 3
  ->j is - 1
  ->j is - 2
  ->j is - 3

In [21]:
name=["susovan","mimi",12.3,98,True,"taniya",12,34.98,False]
print(type(name))
print(name[0])
print(name[1:])
print(name[0:9])
print(name[0:9:2])
print(name[-1:-3])
name.append("Red")
name.append("Black")
print(name[0:])
name.insert(2,"banana")
print(name[0:])
name.remove(12)
name.remove(12.3)
pop_item=name.pop()
print(pop_item,name[0:])
print(name.index("mimi"))

<class 'list'>
susovan
['mimi', 12.3, 98, True, 'taniya', 12, 34.98, False]
['susovan', 'mimi', 12.3, 98, True, 'taniya', 12, 34.98, False]
['susovan', 12.3, True, 12, False]
[]
['susovan', 'mimi', 12.3, 98, True, 'taniya', 12, 34.98, False, 'Red', 'Black']
['susovan', 'mimi', 'banana', 12.3, 98, True, 'taniya', 12, 34.98, False, 'Red', 'Black']
Black ['susovan', 'mimi', 'banana', 98, True, 'taniya', 34.98, False, 'Red']
1

In [ ]:
name[3]="Ram"  # replace element
print(name[0:])

['susovan', 'mimi', 12.3, 'Ram', True, 'taniya', 12, 34.98, False]

In [16]:
name[2:]="SusovanPaul"
print(name[0:])

['susovan', 'mimi', 'S', 'u', 's', 'o', 'v', 'a', 'n', 'P', 'a', 'u', 'l']

In [ ]:
name=["susovan","mimi",12.3,98,True,"taniya",12,34.98,False]

In [23]:
nm=["pal","Pupai","joy","suso","Dimple","dev", "Susovan","taniya","ram","Jit"]
nm.sort()
print(nm[0:])
nm.reverse()
print(nm[0:])

['Dimple', 'Jit', 'Pupai', 'Susovan', 'dev', 'joy', 'pal', 'ram', 'suso', 'taniya']
['taniya', 'suso', 'ram', 'pal', 'joy', 'dev', 'Susovan', 'Pupai', 'Jit', 'Dimple']

In [24]:
name.clear()
nm.clear()
print(name,nm)

[] []

In [25]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
for idx,n in enumerate(num):
    print(idx,n)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [28]:
lst=[]
for i in range(10):
    lst.append(i**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
evnNum=[]
for i in range(12):
    if(i%2==0):
        evnNum.append(i)

print(evnNum)

[0, 2, 4, 6, 8]

In [34]:
even_num=[n for n in range(12) if n%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10]

In [36]:
lst1=[12,23,4,5,8]
lst2=['A','B','N','M','P']

lst3=[[i,j] for i in lst1 for j in lst2]

print(lst3)

[[12, 'A'], [12, 'B'], [12, 'N'], [12, 'M'], [12, 'P'], [23, 'A'], [23, 'B'], [23, 'N'], [23, 'M'], [23, 'P'], [4, 'A'], [4, 'B'], [4, 'N'], [4, 'M'], [4, 'P'], [5, 'A'], [5, 'B'], [5, 'N'], [5, 'M'], [5, 'P'], [8, 'A'], [8, 'B'], [8, 'N'], [8, 'M'], [8, 'P']]

In [14]:
names=["pal","Pupai","joy","suso","Dimple","dev", "Susovan","taniya","ram","Jit"]
lenOf_names=[len(name) for name in names]
print(lenOf_names)

[3, 5, 3, 4, 6, 3, 7, 6, 3, 3]

In [ ]:
lst=list()  # empty list
tup=tuple()  # empty tuple
print(lst,tup)

[] ()

In [8]:
nums=tuple([1,2,3,4,5,6])
nums2=list(nums)
print(nums,nums2)
print(nums[0],nums[-1])
print(nums[::2],nums[::-1])

(1, 2, 3, 4, 5, 6) [1, 2, 3, 4, 5, 6]
1 6
(1, 3, 5) (6, 5, 4, 3, 2, 1)

In [13]:
mixed_tuple=("MIMI",7.1,6,True,7.1,"susovan",7.1,"pupai",7.1,89.98,12,False,"Ram")
concatination_tuple=mixed_tuple+nums
print(concatination_tuple)

('MIMI', 7.1, 6, True, 7.1, 'susovan', 7.1, 'pupai', 7.1, 89.98, 12, False, 'Ram', 1, 2, 3, 4, 5, 6)

In [10]:
mixed_tuple*3

('MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram',
 'MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram',
 'MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram')

In [12]:
# mixed_tuple[2]="karim" ## tuple are immutable
print(mixed_tuple)

('MIMI', 7.1, 6, True, 'susovan', 'pupai', 89.98, 12, False, 'Ram')

In [17]:
print(mixed_tuple.count(7.1))
print(mixed_tuple.index("MIMI"),mixed_tuple.index("pupai"))

4
0 7

In [18]:
pack_tuple=1,"hello","hii",True,12.34,False   ## by default It pack them into a tuple
print(pack_tuple)

(1, 'hello', 'hii', True, 12.34, False)

In [ ]:
a,b,c,d,e,f=pack_tuple   ## unpacked tuple
print(a,b,c,d,e,f)

1 hello hii True 12.34 False

In [22]:
nums=(1,2,3,4,5,6,7)
st, *mid, end=nums   ## *mid takes all elements remining last and frist element 
print(st)
print(mid)
print(end)

1
[2, 3, 4, 5, 6]
7

In [28]:
lst=[["pupai",2.2,3],[4,True,6],["HII",8,9]]
print(lst[2][:2:])
print(lst[1])

['HII', 8]
[4, True, 6]

In [30]:
tup=(("pupai",2.2,3),(4,True,6),("HII",8.9,False))
print(tup[0])
print(tup[1][2])

('pupai', 2.2, 3)
6

In [31]:
for sub_tup in tup:
    for el in sub_tup:
        print(el,end=" ")
    print("")

pupai 2.2 3
4 True 6
HII 8.9 False

In [35]:
st={1,2,1,2,3,4,54,6,1,2,6,8,0,7}
print(st)

st.add(89)
st.add(54) 

st.remove(0)
# st.remove(9) ## if( element not exist then It gives error
st.discard(1)
st.discard(9)
st.discard(100) ## if element not exist then It's ignore it, do not gives error

print(st)

print(10 in st,7 in st,101 in st,54 in st)

{0, 1, 2, 3, 4, 6, 7, 8, 54}
{2, 3, 4, 6, 7, 8, 54, 89}
False True False True

In [ ]:
set1={1,3,4,6,9,10}
set2={2,4,5,9,3,7,8}

union_set=set1.union(set2)
intersection_set=set1.intersection(set2)

print(union_set,intersection_set)


diff_set1=set1.difference(set2)
diff_set2=set2.difference(set1)

print(diff_set1,diff_set2)

symmetric_diff_set1=set1.symmetric_difference(set2)   ## remove same element in both sets and add unique elements
symmetric_diff_set2=set2.symmetric_difference(set1)
print(symmetric_diff_set1,symmetric_diff_set2)


set1.intersection_update(set2) ## update in set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {9, 3, 4}
{1, 10, 6} {8, 2, 5, 7}
{1, 2, 5, 6, 7, 8, 10} {1, 2, 5, 6, 7, 8, 10}
{9, 3, 4}

In [41]:
set1={1,3,4,6,9,}
set2={3,9,6}

print(set1.issubset(set2),set1.issuperset(set2))

False True

In [ ]:
txt="my name is pupai. my mothoer name is pratima. pupai is a good boy"
words=txt.split()

set_words=set(words)   ## unique words

print(set_words)

{'my', 'pupai', 'good', 'is', 'mothoer', 'pratima.', 'name', 'pupai.', 'a', 'boy'}

In [ ]:
emty_dist={} ## or empty_dist=dict() 
print(emty_dist,type(emty_dist))

{} <class 'dict'>

In [17]:
student={"name":"susovan","age":19}   ## use single key
print(student)
print(student["name"],student['age']) ## if key is not present then its give error
print(student.get("lastname","Not Available"))  ## if key is not present then its do not give error
print(student.get("age","user not define his age"))

{'name': 'susovan', 'age': 19}
susovan 19
Not Available
19

In [18]:
##  dict is muteable  change , add, delete, update in current dict

student["age"]=21
print(student)
student["address"]="India WB Howrah"
print(student)
student["nick_name"]="pupai"
student["pin"]=711411
print(student)
del student["nick_name"]
print(student)

{'name': 'susovan', 'age': 21}
{'name': 'susovan', 'age': 21, 'address': 'India WB Howrah'}
{'name': 'susovan', 'age': 21, 'address': 'India WB Howrah', 'nick_name': 'pupai', 'pin': 711411}
{'name': 'susovan', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}

In [16]:
keys=student.keys()
print(keys)
val=student.values()
print(val)
items=student.items()
print(items)

dict_keys(['name', 'age', 'address', 'pin'])
dict_values(['pupai', 21, 'India WB Howrah', 711411])
dict_items([('name', 'pupai'), ('age', 21), ('address', 'India WB Howrah'), ('pin', 711411)])

In [ ]:
student_copy=student   ## deep copy
print(student)
print(student_copy)

{'name': 'susovan', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}
{'name': 'susovan', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}

In [ ]:
student["name"]="Pupai" 
print(student)
print(student_copy)

{'name': 'Pupai', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}
{'name': 'Pupai', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}

In [ ]:
student_copy=student.copy()  ## shallow copy
print(student)
print(student_copy)

{'name': 'Pupai', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}
{'name': 'Pupai', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}

In [24]:
student["name"]="Susovan"
student["age"]=22
print(student)
print(student_copy)

{'name': 'Susovan', 'age': 22, 'address': 'India WB Howrah', 'pin': 711411}
{'name': 'Pupai', 'age': 21, 'address': 'India WB Howrah', 'pin': 711411}

In [25]:
for key in student.keys():
    print(key)
for val in student.values():
    print(val)

name
age
address
pin
Susovan
22
India WB Howrah
711411

In [27]:
for key,val in student.items():
    print(key," - ",val)

name  -  Susovan
age  -  22
address  -  India WB Howrah
pin  -  711411

In [28]:
students={
    "student1":{"name":"mimi","age":21},
    "student2":{"name":"Ram","age":20},
    "student3":{"name":"Sam","age":22}
}
print(students)

{'student1': {'name': 'mimi', 'age': 21}, 'student2': {'name': 'Ram', 'age': 20}, 'student3': {'name': 'Sam', 'age': 22}}

In [34]:
print(students["student3"]["name"])
print(students["student2"]["age"])

for st_id,st_info in students.items():
    print(f"student id is - {st_id} , student info is - {st_info}")
    for key,val in st_info.items():
        print(f" key - {key} : val - {val}")

Sam
20
student id is - student1 , student info is - {'name': 'mimi', 'age': 21}
 key - name : val - mimi
 key - age : val - 21
student id is - student2 , student info is - {'name': 'Ram', 'age': 20}
 key - name : val - Ram
 key - age : val - 20
student id is - student3 , student info is - {'name': 'Sam', 'age': 22}
 key - name : val - Sam
 key - age : val - 22

In [37]:
sqr={x:x**2 for x in range(6)}
print(sqr)
sqr_even={x:x**2 for x in range(11) if x%2==0}
print(sqr_even)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [38]:
nums=[1,2,3,4,1,2,2,1,1,3,3,4,4,1,2,4,1,4,0,5,6,7,2,2,4,1,5,0]
uniqueNums=set(nums)
fqu={x:nums.count(x) for x in uniqueNums}
print(fqu)

{0: 2, 1: 7, 2: 6, 3: 3, 4: 6, 5: 2, 6: 1, 7: 1}

In [39]:
nums=[1,2,3,4,1,2,2,1,1,3,3,4,4,1,2,4,1,4,0,5,6,7,2,2,4,1,5,0]
fqu={}

for num in nums:
    if num in fqu:
        fqu[num]+=1
    else:
        fqu[num]=1
print(fqu)

{1: 7, 2: 6, 3: 3, 4: 6, 0: 2, 5: 2, 6: 1, 7: 1}

In [41]:
dict1={"a":12,"b":23,"y":234}
dict2={"b":89,"x":987,"a":76}

marge_dict={**dict1,**dict2}
print(marge_dict)

{'a': 76, 'b': 89, 'y': 234, 'x': 987}

In [ ]:
## positional arguments
def print_nums(*nums):    ## *nums means all arguments takes together
    print(nums)
    for i in nums:
        print(i)

print_nums(1,2,3,4,"pupai",True,9.76,False,"mimi")

(1, 2, 3, 4, 'pupai', True, 9.76, False, 'mimi')
1
2
3
4
pupai
True
9.76
False
mimi

In [3]:
def good_morning(name="Guest"):
    print(f"Good Morning -> {name}")

good_morning()
good_morning("Taniya")

Good Morning -> Guest
Good Morning -> Taniya

In [ ]:
## keyword arguments

def print_details(**info):   ## **info means takes all arguments as a key value pairs 
    for key,val in info.items():
        print(f"{key}:{val}")  

print_details(name="pupai",age=98,pin=711411,marks=99)

name:pupai
age:98
pin:711411
marks:99

In [10]:
def print_both(*nums,**info):  
    for i in nums:
        print("positional argument - ",i)
    for key,val in info.items():
        print(f"keywords arguments  {key}:{val}")  

print_both(2,4,5,67,95,32,"Susovan ",name="pupai",age=98,pin=711411,marks=99)

positional argument -  2
positional argument -  4
positional argument -  5
positional argument -  67
positional argument -  95
positional argument -  32
positional argument -  Susovan
keywords arguments  name:pupai
keywords arguments  age:98
keywords arguments  pin:711411
keywords arguments  marks:99

In [ ]:
def product(a,b):
    return a*b,b     ## return multiple parameters


product(9,8)

(72, 8)

In [ ]:
## temp converter 

def temp_convert(temp,unit):
    if(unit.lower()=='c'):
        return temp*(9/5)+32
    elif(unit.lower()=='f'):
        return (temp-32)*(5/9)
    return None


print(temp_convert(25,'C'))
print(temp_convert(77,'f'))

77.0
25.0

In [6]:
## password strength ckecker

def is_strong_password(pw):
    if(len(pw)<=8):
        print(" lenght must be greater than 8")
        return False
    elif not any(char.isdigit() for char in pw):
        print("password must have digits")
        return False
    elif not any(char.islower() for char in pw):
        print(" password must have some lower char")
        return False
    elif not any(char.isupper() for char in pw):
        print("password must have some upper char")
        return False
    elif not any( char in "@#$%&*!" for char in pw):
        print("password some have some spacial char")
        return False
    else:
        print("All is good. It is a strong password")
        return True
    


print(is_strong_password("poU7#4hj!2su$"))
print(is_strong_password("QWEREasdd"))
print(is_strong_password("plsnfn@"))
print(is_strong_password("!23@wedCvbn7"))

All is good. It is a strong password
True
password must have digits
False
 lenght must be greater than 8
False
All is good. It is a strong password
True

In [ ]:
## count all words in a text file
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip(".,!?:;`")
                word_count[word]=word_count.get(word,0)+1
    return word_count

word_fqu=count_word_frequency('sample.txt')
print(word_fqu)

<_io.TextIOWrapper name='sample.txt' mode='r' encoding='utf-8'>
{'he': 2, 'is': 2, 'a': 1, 'good': 3, 'boy': 1, 'it': 1, 'for': 1, 'our': 1, 'health': 1, 'said': 1, '"hii': 1, 'morning"': 1}

In [17]:
def isPalindrom(s):
    s=s.lower().replace(" ","")
    return s[::-1]==s

print(isPalindrom("a man Is in ama"))
print(isPalindrom("hello"))

True
False

In [ ]:
### valid email check function

import re   ## You need this because weâ€™re going to use re.match() to check if the email fits a specific pattern.

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    
    if re.match(pattern, email):   ## Uses re.match() to check if the email matches the pattern.
        return True
    else:
        return False
    
print(is_valid_email("palsusovan88@gmail.com"))
print(is_valid_email("rhgehjhgiouh@"))

True
False