In [ ]:
## use backslash (\) -> continue statement to the next line
total=1+2+4+9+2+\
    4+5+1
print(total)

28

In [ ]:
# multiple variable
x=9;y=90;z=98
print(x,y,z)

9 90 98

In [5]:
name="susovan"
print(type(name))
name=908
print(type(name))
name=91.234
print(type(name))

<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
age=20
if(age>18):
    print(age)
print(569)

20
569

In [10]:
print(name)
print("my age is : ",age)
print(type(str(age)))
age=21.6
print(f"age is {age}")
print(f"exact age is - {int(age)}")

91.234
my age is :  20
<class 'str'>
age is 21.6
exact age is - 21

In [ ]:
name=input("enter name : ")  ## default str input
print(name,type(name))
age=int(input("enger age :")) ## typecust into str to int

pupai <class 'str'>
21 <class 'int'>

In [14]:
num1=float(input("Enetr num1: "))
num2=float(input("enter num2: "))

sum=num1+num2
pro=num1*num2
diff=num1-num2
quo=num1/num2

print(f"sum is : {sum} diff is : {diff} product is : {pro} quotient is : {quo}")

sum is : 16.0 diff is : 8.0 product is : 48.0 quotient is : 3.0

In [7]:
for i in range(1,11,2):
    print(i)
str="SuSoVanpAuL"    
for i in str:
    if(i.isupper()):
        continue
    if(i=='p'):
        break
    print(i)

1
3
5
7
9
u
o
a
n

In [5]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [8]:
for i in range(1,10,2):
    pass

In [11]:
for i in range(1,4):
    print(f"i is - {i}")
    for j in range(1,4):
        print(f"  ->j is - {j}")

i is - 1
  ->j is - 1
  ->j is - 2
  ->j is - 3
i is - 2
  ->j is - 1
  ->j is - 2
  ->j is - 3
i is - 3
  ->j is - 1
  ->j is - 2
  ->j is - 3

In [21]:
name=["susovan","mimi",12.3,98,True,"taniya",12,34.98,False]
print(type(name))
print(name[0])
print(name[1:])
print(name[0:9])
print(name[0:9:2])
print(name[-1:-3])
name.append("Red")
name.append("Black")
print(name[0:])
name.insert(2,"banana")
print(name[0:])
name.remove(12)
name.remove(12.3)
pop_item=name.pop()
print(pop_item,name[0:])
print(name.index("mimi"))

<class 'list'>
susovan
['mimi', 12.3, 98, True, 'taniya', 12, 34.98, False]
['susovan', 'mimi', 12.3, 98, True, 'taniya', 12, 34.98, False]
['susovan', 12.3, True, 12, False]
[]
['susovan', 'mimi', 12.3, 98, True, 'taniya', 12, 34.98, False, 'Red', 'Black']
['susovan', 'mimi', 'banana', 12.3, 98, True, 'taniya', 12, 34.98, False, 'Red', 'Black']
Black ['susovan', 'mimi', 'banana', 98, True, 'taniya', 34.98, False, 'Red']
1

In [ ]:
name[3]="Ram"  # replace element
print(name[0:])

['susovan', 'mimi', 12.3, 'Ram', True, 'taniya', 12, 34.98, False]

In [16]:
name[2:]="SusovanPaul"
print(name[0:])

['susovan', 'mimi', 'S', 'u', 's', 'o', 'v', 'a', 'n', 'P', 'a', 'u', 'l']

In [ ]:
name=["susovan","mimi",12.3,98,True,"taniya",12,34.98,False]

In [23]:
nm=["pal","Pupai","joy","suso","Dimple","dev", "Susovan","taniya","ram","Jit"]
nm.sort()
print(nm[0:])
nm.reverse()
print(nm[0:])

['Dimple', 'Jit', 'Pupai', 'Susovan', 'dev', 'joy', 'pal', 'ram', 'suso', 'taniya']
['taniya', 'suso', 'ram', 'pal', 'joy', 'dev', 'Susovan', 'Pupai', 'Jit', 'Dimple']

In [24]:
name.clear()
nm.clear()
print(name,nm)

[] []

In [25]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
for idx,n in enumerate(num):
    print(idx,n)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [28]:
lst=[]
for i in range(10):
    lst.append(i**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
evnNum=[]
for i in range(12):
    if(i%2==0):
        evnNum.append(i)

print(evnNum)

[0, 2, 4, 6, 8]

In [34]:
even_num=[n for n in range(12) if n%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10]

In [36]:
lst1=[12,23,4,5,8]
lst2=['A','B','N','M','P']

lst3=[[i,j] for i in lst1 for j in lst2]

print(lst3)

[[12, 'A'], [12, 'B'], [12, 'N'], [12, 'M'], [12, 'P'], [23, 'A'], [23, 'B'], [23, 'N'], [23, 'M'], [23, 'P'], [4, 'A'], [4, 'B'], [4, 'N'], [4, 'M'], [4, 'P'], [5, 'A'], [5, 'B'], [5, 'N'], [5, 'M'], [5, 'P'], [8, 'A'], [8, 'B'], [8, 'N'], [8, 'M'], [8, 'P']]

In [14]:
names=["pal","Pupai","joy","suso","Dimple","dev", "Susovan","taniya","ram","Jit"]
lenOf_names=[len(name) for name in names]
print(lenOf_names)

[3, 5, 3, 4, 6, 3, 7, 6, 3, 3]

In [ ]:
lst=list()  # empty list
tup=tuple()  # empty tuple
print(lst,tup)

[] ()

In [8]:
nums=tuple([1,2,3,4,5,6])
nums2=list(nums)
print(nums,nums2)
print(nums[0],nums[-1])
print(nums[::2],nums[::-1])

(1, 2, 3, 4, 5, 6) [1, 2, 3, 4, 5, 6]
1 6
(1, 3, 5) (6, 5, 4, 3, 2, 1)

In [13]:
mixed_tuple=("MIMI",7.1,6,True,7.1,"susovan",7.1,"pupai",7.1,89.98,12,False,"Ram")
concatination_tuple=mixed_tuple+nums
print(concatination_tuple)

('MIMI', 7.1, 6, True, 7.1, 'susovan', 7.1, 'pupai', 7.1, 89.98, 12, False, 'Ram', 1, 2, 3, 4, 5, 6)

In [10]:
mixed_tuple*3

('MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram',
 'MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram',
 'MIMI',
 7.1,
 6,
 True,
 'susovan',
 'pupai',
 89.98,
 12,
 False,
 'Ram')

In [12]:
# mixed_tuple[2]="karim" ## tuple are immutable
print(mixed_tuple)

('MIMI', 7.1, 6, True, 'susovan', 'pupai', 89.98, 12, False, 'Ram')

In [17]:
print(mixed_tuple.count(7.1))
print(mixed_tuple.index("MIMI"),mixed_tuple.index("pupai"))

4
0 7

In [18]:
pack_tuple=1,"hello","hii",True,12.34,False   ## by default It pack them into a tuple
print(pack_tuple)

(1, 'hello', 'hii', True, 12.34, False)

In [ ]:
a,b,c,d,e,f=pack_tuple   ## unpacked tuple
print(a,b,c,d,e,f)

1 hello hii True 12.34 False

In [22]:
nums=(1,2,3,4,5,6,7)
st, *mid, end=nums   ## *mid takes all elements remining last and frist element 
print(st)
print(mid)
print(end)

1
[2, 3, 4, 5, 6]
7

In [28]:
lst=[["pupai",2.2,3],[4,True,6],["HII",8,9]]
print(lst[2][:2:])
print(lst[1])

['HII', 8]
[4, True, 6]

In [30]:
tup=(("pupai",2.2,3),(4,True,6),("HII",8.9,False))
print(tup[0])
print(tup[1][2])

('pupai', 2.2, 3)
6

In [31]:
for sub_tup in tup:
    for el in sub_tup:
        print(el,end=" ")
    print("")

pupai 2.2 3
4 True 6
HII 8.9 False