# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
tup=tuple(i for i in range(1,11))
print(tup)
print(tup[0],tup[-1],tup[len(tup)//2])
print(tup[:3],tup[-3:],tup[1:5])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 10 6
(1, 2, 3) (8, 9, 10) (2, 3, 4, 5)

In [16]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for row in matrix:
    for el in row:
        print(el, end=" ")
    print('')
print(matrix[1][2])

1 2 3
4 5 6
7 8 9
6

In [17]:
tup1=(1,2,3)
tup2=(4,5,6)
add_tup=tup1+tup2
print(add_tup)

(1, 2, 3, 4, 5, 6)

In [23]:
nums=(1,2,1,2,3,0,3,3,3,4,1,0,5,6,7,3,1,4)
print(nums.count(1),nums.count(3))
print(nums.index(0),nums.index(3))

4 5
5 4

In [20]:
nums=(1,3,2,4,5)
n1,n2,n3,n4,n5=nums
print(n1,n2,n3,n4,n5)

1 3 2 4 5

In [ ]:
tuple_of_tuples = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Tuple of Tuples:")
print(tuple_of_tuples)

In [25]:
tu=tuple(range(1,5))
print(tu)
ls=list(tu)
ls.append(6)
print(ls)
tu=tuple(ls)
print(tu)

(1, 2, 3, 4)
[1, 2, 3, 4, 6]
(1, 2, 3, 4, 6)

In [28]:
ch=tuple("SusovanPaul")
print(ch)

name="".join(ch)
print(name)

('S', 'u', 's', 'o', 'v', 'a', 'n', 'P', 'a', 'u', 'l')
SusovanPaul

In [29]:
ds={
    (1,2):12,
    (2,3):23,
    (8,9):89,
    (5,6):56
}
print(ds)

{(1, 2): 12, (2, 3): 23, (8, 9): 89, (5, 6): 56}

In [31]:
nums=(1,2,1,21,1,1,1,1,1,1,2,3,0,3,3,3,4,1,0,5,6,7,3,1,4)
st=set(nums) ## remove duplicate elements
print(st)

{0, 1, 2, 3, 4, 5, 6, 7, 21}

In [32]:
els=(0, 1, 2, 3, 4, 5, 6, 7, 21)

print(max(els),min(els),sum(els))

21 0 49