# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [11]:
import pandas as pd
import numpy as np

data=pd.DataFrame(np.random.randint(1,100,(6,4)),columns=["F",'B',"C","D"])
print(data)
data.set_index("F",inplace=True)
print(data)

    F   B   C   D
0  22  61   9  32
1  85  62  51  83
2  67   4  26  27
3  97  59  68  68
4  87  10  77  81
5  42  77  30  61
     B   C   D
F
22  61   9  32
85  62  51  83
67   4  26  27
97  59  68  68
87  10  77  81
42  77  30  61

In [12]:
df=pd.DataFrame([[1,2,3],[1,3,2]],columns=[34,56,89])
print(df)

   34  56  89
0   1   2   3
1   1   3   2

In [13]:
df=pd.DataFrame(np.random.randint(1,100,(3,3)),columns=["A",'B',"C"],index=["X","Y","Z"])
print(df)

print(df["B"]["Y"])

    A   B   C
X  95  12  52
Y  33  97  14
Z  85   7  43
97

In [14]:
df=pd.DataFrame(np.random.randint(1,100,(5,3)),columns=["A",'B',"C"])

print(df)

df["P"]=df["B"]+df["A"]
print(df)

    A   B   C
0  48  28  99
1  83   7  93
2  95  85   2
3  54  76  75
4  80   9  34
    A   B   C    P
0  48  28  99   76
1  83   7  93   90
2  95  85   2  180
3  54  76  75  130
4  80   9  34   89

In [15]:
df=pd.DataFrame(np.random.randint(1,100,(3,3)),columns=["A",'B',"C"],index=["X","Y","Z"])
print(df)
print(df.sum(axis=1))
print(df.sum())  ## default axis =0

    A   B   C
X  74  22  53
Y  97  74  92
Z  56  99   2
X    149
Y    263
Z    157
dtype: int64
A    227
B    195
C    147
dtype: int64

In [16]:
import pandas as pd
import numpy as np

data = {
    'A': [10, 20, np.nan, 40, 50],
    'B': [5, np.nan, 15, 20, 25],
    'C': [np.nan, 30, 35, 40, np.nan],
    'D': [100, 200, 300, np.nan, 500]
}

df=pd.DataFrame(data=data)
print(df)
missing_vals=df.isnull().sum()
print(missing_vals)

df.fillna(df.mean(),inplace=True)
print(df)

      A     B     C      D
0  10.0   5.0   NaN  100.0
1  20.0   NaN  30.0  200.0
2   NaN  15.0  35.0  300.0
3  40.0  20.0  40.0    NaN
4  50.0  25.0   NaN  500.0
A    1
B    1
C    2
D    1
dtype: int64
      A      B     C      D
0  10.0   5.00  35.0  100.0
1  20.0  16.25  30.0  200.0
2  30.0  15.00  35.0  300.0
3  40.0  20.00  40.0  275.0
4  50.0  25.00  35.0  500.0

In [17]:

data = {
    'A': [10, 20, 1, 40, 50],
    'B': [5, np.nan, 15, 20, 25],
    'C': [np.nan, 30, 35, 40, np.nan],
    'D': [100, 200, 300, 1, 500],
    'C': [np.nan, 30, 35, 40, np.nan],
    'D': [100, 200, 300, 1, 500]
}
df=pd.DataFrame(data=data)

print(df)

df.dropna(axis=0,inplace=True) ### if any row has missing value then drop it
print(df)

    A     B     C    D
0  10   5.0   NaN  100
1  20   NaN  30.0  200
2   1  15.0  35.0  300
3  40  20.0  40.0    1
4  50  25.0   NaN  500
    A     B     C    D
2   1  15.0  35.0  300
3  40  20.0  40.0    1

In [18]:
catagories=np.random.choice(['A','B','C'],size=10)
values=np.random.randint(1,100,size=10)

df=pd.DataFrame({
    "categories":catagories,
    "values":values
})
print(df)

grouped_by_categories=df.groupby("categories")["values"].agg(["sum","mean","count"])

print(grouped_by_categories)

  categories  values
0          B      72
1          A      87
2          B      58
3          A      64
4          B      37
5          A      70
6          C      94
7          A       3
8          A       6
9          B      69
            sum  mean  count
categories
A           230  46.0      5
B           236  59.0      4
C            94  94.0      1

In [19]:
catagories=np.random.choice(['A','B','C'],size=10)
values=np.random.randint(50,100,size=10)

df=pd.DataFrame({
    "categories":catagories,
    "sales":values
})
print(df)

grouped_by_categories=df.groupby("categories")["sales"].agg(["sum","mean","count"])

print(grouped_by_categories)

  categories  sales
0          C     93
1          B     87
2          C     88
3          A     72
4          B     60
5          B     53
6          C     78
7          A     80
8          A     73
9          B     98
            sum       mean  count
categories
A           225  75.000000      3
B           298  74.500000      4
C           259  86.333333      3

In [21]:
catagories=np.random.choice(['A','B','D','F'],size=10)
values=np.random.randint(1,100,size=10)

df1=pd.DataFrame({
    "categories":catagories,
    "values":values
})
print(df1)

catagories=np.random.choice(['A','B','C','E'],size=10)
values=np.random.randint(1,100,size=10)

df2=pd.DataFrame({
    "categories":catagories,
    "values":values
})
print(df2)

marge_df=pd.merge(df1,df2,how="inner",on="categories")
print(marge_df)

  categories  values
0          A      76
1          F      95
2          A      22
3          B      14
4          B      93
5          D      29
6          A      45
7          A      35
8          D      66
9          F      41
  categories  values
0          B      58
1          B      93
2          E      63
3          A      42
4          A      13
5          B      19
6          E      56
7          E      37
8          C      41
9          B      81
   categories  values_x  values_y
0           A        76        42
1           A        76        13
2           A        22        42
3           A        22        13
4           B        14        58
5           B        14        93
6           B        14        19
7           B        14        81
8           B        93        58
9           B        93        93
10          B        93        19
11          B        93        81
12          A        45        42
13          A        45        13
14          A        35        42
15          A        35        13

### concat()
The pd.concat() function in Pandas joins/combines multiple DataFrames or Series into one.

Think of it like gluing two tables together, either vertically (adding more rows) or horizontally (adding more columns).

In [26]:
df1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df2 = pd.DataFrame({
    'C': [5, 6],
    'D': [7, 8]
})

result=pd.concat([df1,df2],axis=1)
print(result)
result=pd.concat([df1,df2],axis=0)
print(result)

   A  B  C  D
0  1  3  5  7
1  2  4  6  8
     A    B    C    D
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
0  NaN  NaN  5.0  7.0
1  NaN  NaN  6.0  8.0

In [3]:
import pandas as pd
import numpy as np

date_idx=pd.date_range(start='2025-01-01', end='2025-06-30',freq="D")

df=pd.DataFrame({
    "values":np.random.randint(1,100,size=(len(date_idx)))
},index=date_idx)

print(df.head(5))

montly_mean=df.resample('M').mean()
print(montly_mean)

            values
2025-01-01      42
2025-01-02      42
2025-01-03      72
2025-01-04      65
2025-01-05      98
               values
2025-01-31  60.000000
2025-02-28  50.500000
2025-03-31  58.870968
2025-04-30  51.900000
2025-05-31  50.258065
2025-06-30  50.066667

C:\Users\susov\AppData\Local\Temp\ipykernel_7768\671309508.py:12: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  montly_mean=df.resample('M').mean()

In [8]:
date_idx=pd.date_range(start="2021-01-01",end="2021-12-31",freq="D")

df=pd.DataFrame({
    "values":np.random.randint(1,100,size=(len(date_idx)))
},index=date_idx)

print(df.head(5))
mean_of_7days_window=df.rolling(window=7).mean()

print(mean_of_7days_window.head(8))

            values
2021-01-01       8
2021-01-02      70
2021-01-03      99
2021-01-04      35
2021-01-05      54
               values
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
2021-01-06        NaN
2021-01-07  64.000000
2021-01-08  64.428571

###  What is a MultiIndex?
A MultiIndex (also called a Hierarchical Index) in Pandas allows you to have multiple levels of indexing on rows or columns.

Think of it like having row labels or column labels in a tree structure, where there are “levels” of indexing.

In [9]:
indexs=[
    ['2025','2025','2026','2026'],
    ['c1',"c2",'c1','c2']
]

multi_idx=pd.MultiIndex.from_arrays(indexs,names=["Year","category"])

df=pd.DataFrame({
    "salary":np.random.randint(1000,5000,size=4),
    "Profit":np.random.randint(500,1000,size=4)
},index=multi_idx)

print(df)

               salary  Profit
Year category
2025 c1          1950     888
     c2          2242     964
2026 c1          4029     673
     c2          2376     754

In [21]:
categories = ['Electronics', 'Electronics', 'Furniture', 'Furniture']
subcategories = ['Phones', 'Laptops', 'Chairs', 'Tables']


multi_idx=pd.MultiIndex.from_arrays([categories,subcategories],names=["categories","subcategories"])

df=pd.DataFrame({
    "sales":np.random.randint(1000,5000,size=4),
    "profit":np.random.randint(100,500,size=4)
},index=multi_idx)

print(df)

print(df.groupby("categories")[["sales","profit"]].sum())

print(df.groupby(["categories","subcategories"])[["sales","profit"]].sum())

                           sales  profit
categories  subcategories
Electronics Phones          3330     449
            Laptops         4940     405
Furniture   Chairs          1166     495
            Tables          4845     396
             sales  profit
categories
Electronics   8270     854
Furniture     6011     891
                           sales  profit
categories  subcategories
Electronics Laptops         4940     405
            Phones          3330     449
Furniture   Chairs          1166     495
            Tables          4845     396

In [23]:
category_sum = df.groupby(level='categories').sum()
subcategory_sum = df.groupby(level=['categories', 'subcategories']).sum()
print(category_sum)
print(subcategory_sum)

             sales  profit
categories
Electronics   8270     854
Furniture     6011     891
                           sales  profit
categories  subcategories
Electronics Laptops         4940     405
            Phones          3330     449
Furniture   Chairs          1166     495
            Tables          4845     396

In [24]:
dates = pd.date_range('2025-07-01', periods=5).repeat(4)
categories = ['A', 'B', 'C', 'D'] * 5
values = np.random.randint(10, 100, size=len(dates))

df = pd.DataFrame({
    'Date': dates,
    'Category': categories,
    'Value': values
})

df

         Date Category  Value
0  2025-07-01        A     55
1  2025-07-01        B     42
2  2025-07-01        C     15
3  2025-07-01        D     19
4  2025-07-02        A     51
5  2025-07-02        B     34
6  2025-07-02        C     21
7  2025-07-02        D     32
8  2025-07-03        A     62
9  2025-07-03        B     53
10 2025-07-03        C     27
11 2025-07-03        D     71
12 2025-07-04        A     69
13 2025-07-04        B     61
14 2025-07-04        C     66
15 2025-07-04        D     67
16 2025-07-05        A     46
17 2025-07-05        B     38
18 2025-07-05        C     32
19 2025-07-05        D     15

### 📝 What is pd.pivot_table?
In Pandas, pivot_table() is a powerful method to:
✅ Summarize data
✅ Group by rows and columns
✅ Apply an aggregation function (like sum, mean, etc.)

Think of it like an Excel Pivot Table, but for Python.

In [25]:
pivot_table=pd.pivot_table(
    df,
    index="Date",
    columns="Category",
    aggfunc=["count","max","min","sum","mean"],      
    fill_value=0   
)
print(pivot_table)

           count            max               min               sum          \
           Value          Value             Value             Value
Category       A  B  C  D     A   B   C   D     A   B   C   D     A   B   C
Date
2025-07-01     1  1  1  1    55  42  15  19    55  42  15  19    55  42  15
2025-07-02     1  1  1  1    51  34  21  32    51  34  21  32    51  34  21
2025-07-03     1  1  1  1    62  53  27  71    62  53  27  71    62  53  27
2025-07-04     1  1  1  1    69  61  66  67    69  61  66  67    69  61  66
2025-07-05     1  1  1  1    46  38  32  15    46  38  32  15    46  38  32

                mean
               Value
Category     D     A     B     C     D
Date
2025-07-01  19  55.0  42.0  15.0  19.0
2025-07-02  32  51.0  34.0  21.0  32.0
2025-07-03  71  62.0  53.0  27.0  71.0
2025-07-04  67  69.0  61.0  66.0  67.0
2025-07-05  15  46.0  38.0  32.0  15.0

In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)))
print(df)
new_df=df.apply(lambda x:x*2)
print(new_df)
new_df=df.applymap(lambda x:x*2)
print(new_df)

    0   1   2
0  16  76  48
1  78  32  17
2  86  62  70
3  69  81  42
4  76  71  13
     0    1    2
0   32  152   96
1  156   64   34
2  172  124  140
3  138  162   84
4  152  142   26
     0    1    2
0   32  152   96
1  156   64   34
2  172  124  140
3  138  162   84
4  152  142   26

C:\Users\susov\AppData\Local\Temp\ipykernel_20256\3536504572.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  new_df=df.applymap(lambda x:x*2)

In [5]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,3)))
print(df)
df["total"]=df.apply(lambda row : row.sum(),axis=1)
print(df)

    0   1   2
0  77  59  42
1  86  24  61
2  43  78  37
3  73  81  77
4  62  15  69
5  93  23   6
    0   1   2  total
0  77  59  42    178
1  86  24  61    171
2  43  78  37    158
3  73  81  77    231
4  62  15  69    146
5  93  23   6    122

In [9]:
my_list = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]

df=pd.Series(my_list)
print(df)

df=df.apply(lambda x: x.upper())
print(df)

df=df.apply(lambda x: x[3:])
print(df)

0         apple
1        banana
2        cherry
3          date
4    elderberry
5           fig
6         grape
dtype: object
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
5           FIG
6         GRAPE
dtype: object
0         LE
1        ANA
2        RRY
3          E
4    ERBERRY
5
6         PE
dtype: object