## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [1]:
# code
import pandas as pd
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [32]:
pclass=titanic_df.groupby('Pclass')

for group in list(pclass.groups.keys()):
  print(f" pclass ->{group} has avg. age -> {pclass.get_group(group)["Age"].mean()} . missing value is -> {pclass.get_group(group)["Age"].isna().sum()}")

  list(pclass.groups.keys())

 pclass ->1 has avg. age -> 38.233440860215055 . missing value is -> 30
 pclass ->2 has avg. age -> 29.87763005780347 . missing value is -> 11
 pclass ->3 has avg. age -> 25.14061971830986 . missing value is -> 136

In [34]:
pclass.groups.keys()

dict_keys([1, 2, 3])

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [23]:
for group,data in pclass:
  pclass.get_group(group)["Embarked"].fillna(pclass.get_group(group)["Embarked"].mode(),inplace=True)
  print(f"pclass -> {group}, value count of column Embarked -> {pclass.get_group(group)["Embarked"].value_counts()}")

pclass -> 1, value count of column Embarked -> Embarked
S    129
C     85
Q      2
Name: count, dtype: int64
pclass -> 2, value count of column Embarked -> Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
pclass -> 3, value count of column Embarked -> Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

/tmp/ipython-input-465789090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pclass.get_group(group)["Embarked"].fillna(pclass.get_group(group)["Embarked"].mode(),inplace=True)
/tmp/ipython-input-465789090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pclass.get_group(group)["Embarked"].fillna(pclass.get_group(group)["Embarked"].mode(),inplace=True)
/tmp/ipython-input-465789090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pclass.get_group(group)["Embarked"].fillna(pclass.get_group(group)["Embarked"].mode(),inplace=True)

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [44]:

df_group=titanic_df.groupby(["Embarked","Pclass"])
df_group.groups.keys()

dict_keys([('C', 1), ('C', 2), ('C', 3), ('Q', 1), ('Q', 2), ('Q', 3), ('S', 1), ('S', 2), ('S', 3)])

In [41]:
# code
my_dict={}

df_group=titanic_df.groupby("Embarked")

for group in list(df_group.groups.keys()):
  pclass_df=df_group.get_group(group).groupby("Pclass")
  cls={}
  for gp in list(pclass_df.groups.keys()):
    cls[gp]=round(pclass_df.get_group(gp)["Fare"].mean(),2)
  my_dict[group]=cls


my_dict

{'C': {1: np.float64(104.72), 2: np.float64(25.36), 3: np.float64(11.21)},
 'Q': {1: np.float64(90.0), 2: np.float64(12.35), 3: np.float64(11.18)},
 'S': {1: np.float64(70.51), 2: np.float64(20.33), 3: np.float64(14.64)}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [45]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,...,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,...,19,4,516,419,24,3,5,28,4,0

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [73]:
# code here
def Z_normalization(group,cols):
  # print(group,cols)
  for col in cols:
    std=group[col].std()
    mean=group[col].mean()
    group[f"Z_norm_{col}"]=(group[col]-mean)/std
  return group


cols=["Passes",
"Passes Completed",
"Attempted Line Breaks",
"Completed Line Breaks"]

df_group=fifa_df.groupby("Team")
df_group=df_group.apply(Z_normalization,cols=cols).reset_index(drop=True)
df_group = df_group.groupby("Team")

df_group.agg({
    "Passes": ["min", "max", "mean"],
    "Yellow Cards": ["min", "max", "std"],
    "Attempted Line Breaks": ["min", "std"],
    "Possession (%)": "mean"
  })

/tmp/ipython-input-716490741.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_group=df_group.apply(Z_normalization,cols=cols).reset_index(drop=True)

               Passes                   Yellow Cards                \
                  min   max        mean          min max       std
Team
Argentina         408   862  622.571429            0   8  2.870208
Australia         286   466  384.000000            0   3  1.258306
Belgium           512   685  607.000000            1   3  1.154701
Brazil            548   695  601.800000            0   3  1.303840
Cameroon          295   500  386.333333            1   5  2.081666
Canada            448   536  499.333333            2   4  1.154701
Costa Rica        231   454  344.000000            1   3  1.000000
Croatia           461   724  610.571429            0   2  1.069045
Denmark           537   650  596.333333            1   2  0.577350
Ecuador           429   484  453.666667            0   2  1.000000
England           508   810  610.600000            0   1  0.447214
France            358   734  522.285714            0   3  1.345185
Germany           352   827  635.333333            0   3  1.732051
Ghana             319   460  393.000000            2   4  1.154701
Iran              232   463  330.000000            2   3  0.577350
Japan             225   591  410.000000            0   3  1.732051
Korea Republic    359   548  466.500000            1   2  0.577350
Mexico            356   500  422.666667            1   4  1.527525
Morocco           229   583  389.857143            0   3  0.951190
Netherlands       403   786  565.400000            0   4  1.483240
Poland            303   466  355.000000            1   3  0.957427
Portugal          461   678  594.200000            0   3  1.303840
Qatar             424   457  444.666667            0   4  2.081666
Saudi Arabia      267   560  374.666667            2   6  2.309401
Senegal           277   511  393.000000            1   3  0.957427
Serbia            403   513  464.000000            2   7  2.645751
Spain             647  1070  955.750000            0   1  0.577350
Switzerland       403   512  475.000000            1   4  1.258306
Tunisia           328   501  411.666667            1   3  1.154701
United States     427   572  509.500000            0   4  1.892969
Uruguay           390   528  454.666667            1   3  1.000000
Wales             325   508  414.000000            1   2  0.577350

               Attempted Line Breaks            Possession (%)
                                 min        std           mean
Team
Argentina                        141  38.774685      49.285714
Australia                        133  17.682383      31.250000
Belgium                          167  14.422205      49.000000
Brazil                           164  10.691118      50.400000
Cameroon                         144  19.857828      38.333333
Canada                           102  37.753587      44.333333
Costa Rica                        86  38.974351      27.333333
Croatia                           97  54.499891      47.428571
Denmark                          173  34.000000      51.333333
Ecuador                          143  17.009801      42.666667
England                          133  29.676590      57.200000
France                           126  21.407609      44.857143
Germany                          143  56.624494      53.000000
Ghana                            122  33.020196      37.000000
Iran                              56  77.526340      31.666667
Japan                            104  64.048810      30.250000
Korea Republic                   139  27.072434      42.250000
Mexico                           127  40.706265      46.666667
Morocco                          128  10.641339      34.285714
Netherlands                      168  12.759310      44.000000
Poland                            79  36.326070      32.000000
Portugal                         165  13.049904      53.800000
Qatar                            159   7.767453      39.333333
Saudi Arabia                     147  29.022979      36.666667
Senegal                          143  16.938615      38.500000
Serbia                           140  22.188586      42.666667
Spain                            186  24.289916      67.000000
Switzerland                      157   9.032349      43.000000
Tunisia                          153  24.419937      38.666667
United States                    143  27.693260      47.000000
Uruguay                          146  22.030282      41.000000
Wales                            104  53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [122]:
# code here
url="https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link"
df_balls=pd.read_csv("/content/ipl_deliveries.csv")

df_balls

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,Royal Challengers BangaloreKolkata Knight Riders,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,Royal Challengers BangaloreKolkata Knight Riders,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

In [80]:
df_balls[df_balls["innings"]==2].groupby(["ID","batter"])["total_run"].sum().sort_values(ascending=False)

ID       batter
1254061  SV Samson        124
501243   V Sehwag         122
336018   ST Jayasuriya    122
1136620  SR Watson        121
501206   PC Valthaty      121
                         ...
1254111  FA Allen           0
         DJ Hooda           0
1136604  MA Agarwal         0
1304109  PVD Chameera       0
598011   AJ Finch           0
Name: total_run, Length: 6972, dtype: int64

In [112]:
group_df=df_balls[(df_balls["innings"]==2) & (df_balls["extra_type"]!="wides")]

group_df=group_df.groupby(["ID","batter"])

group_df=group_df.agg({
    "batsman_run":"sum",
    "ballnumber":"count"
}).reset_index()

group_df["strike_rate"] = (group_df["batsman_run"] / group_df["ballnumber"]) * 100
group_df = group_df[group_df["ballnumber"]>=50].sort_values("strike_rate", ascending=False)
group_df

           ID        batter  batsman_run  ballnumber  strike_rate
1597   501243      V Sehwag          119          56   212.500000
3875   980921     Q de Kock          108          51   211.764706
5091  1136620     SR Watson          117          57   205.263158
1970   548329     DA Warner          109          54   201.851852
6075  1254073    D Padikkal          101          52   194.230769
...       ...           ...          ...         ...          ...
1305   501201  SR Tendulkar           46          50    92.000000
3248   734013      CH Gayle           46          50    92.000000
1412   501219     MK Tiwary           46          51    90.196078
6216  1254095    D Padikkal           41          52    78.846154
2555   598022    MEK Hussey           40          51    78.431373

[183 rows x 5 columns]

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [120]:
# code here
group_df=df_balls.groupby(["bowler","batter"])
group_df.agg({
    "isWicketDelivery":"sum",
    "batsman_run":"sum"
}).reset_index().sort_values(by=["isWicketDelivery","batsman_run"],ascending=[False,True])

               bowler      batter  isWicketDelivery  batsman_run
20710       SP Narine   RG Sharma                 8          137
3042          B Kumar    PA Patel                 7           65
24145          Z Khan    MS Dhoni                 7           74
21386  Sandeep Sharma     V Kohli                 7           78
378          A Mishra   RG Sharma                 7           87
...               ...         ...               ...          ...
16377        R Ashwin      N Rana                 0           99
21373  Sandeep Sharma   SR Watson                 0          102
8669       JD Unadkat  KD Karthik                 0          104
16419        R Ashwin    SA Yadav                 0          106
5453        DL Chahar    KL Rahul                 0          120

[24213 rows x 4 columns]

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [135]:
# code here
import numpy as np

def func(x):
  return "-".join(list(np.sort(x.values)))

df_balls["batter_pair"]=df_balls[["batter","non-striker"]].apply(func,axis=1)
df_balls.groupby("batter_pair").agg({
    "batsman_run":"sum"
}).reset_index().sort_values("batsman_run",ascending=False)

                    batter_pair  batsman_run
302      AB de Villiers-V Kohli         3040
1251           CH Gayle-V Kohli         2650
1508         DA Warner-S Dhawan         2242
1954       G Gambhir-RV Uthappa         1795
2803        KL Rahul-MA Agarwal         1664
...                         ...          ...
835   Ankit Sharma-DB Ravi Teja            0
828     Anirudh Singh-MD Mishra            0
826       Akash Deep-KD Karthik            0
3933       RP Singh-S Sreesanth            0
3932          RP Singh-RV Gomez            0

[4259 rows x 2 columns]

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [145]:
# code here

def func(x):
  return "-".join(list(np.sort(x.values)))

df_balls["batter_pair"]=df_balls[["batter","non-striker"]].apply(func,axis=1)

temp_df=df_balls.groupby("batter_pair").agg({
    "total_run":"sum",
    "ballnumber":"count",
    "isWicketDelivery":"sum"
}).reset_index()

temp_df["batsman1"]=temp_df["batter_pair"].apply(lambda x:x.split("-")[0])
temp_df["batsman2"]=temp_df["batter_pair"].apply(lambda x:x.split("-")[1])
temp_df["Strike_rate"]=(temp_df["total_run"]/temp_df['ballnumber'])*100
temp_df["Avg_runs"]=temp_df["total_run"]/temp_df["isWicketDelivery"]

temp_df.sort_values("total_run",ascending=False)

,batter_pair,total_run,ballnumber,isWicketDelivery,batsman1,batsman2,Strike_rate,Avg_runs
302,AB de Villiers-V Kohli,3134,2059,71,AB de Villiers,V Kohli,152.209811,44.140845
1251,CH Gayle-V Kohli,2802,1973,53,CH Gayle,V Kohli,142.017233,52.867925
1508,DA Warner-S Dhawan,2357,1725,49,DA Warner,S Dhawan,136.637681,48.102041
1954,G Gambhir-RV Uthappa,1906,1425,48,G Gambhir,RV Uthappa,133.754386,39.708333
2803,KL Rahul-MA Agarwal,1731,1211,33,KL Rahul,MA Agarwal,142.939719,52.454545
...,...,...,...,...,...,...,...,...
34,A Choudhary-S Badree,0,1,1,A Choudhary,S Badree,0.000000,0.000000
4215,T Stubbs-Tilak Varma,0,2,1,T Stubbs,Tilak Varma,0.000000,0.000000
64,A Mishra-CL White,0,2,1,A Mishra,CL White,0.000000,0.000000
3114,M Muralitharan-MS Gony,0,3,1,M Muralitharan,MS Gony,0.000000,0.000000
3107,M Morkel-S Nadeem,0,1,1,M Morkel,S Nadeem,0.000000,0.000000