### üóÑÔ∏è SQLite Special Features
SQLite is lightweight and runs as a file-based DB, no server required.

‚úÖ File stored as database.db.

‚úÖ You can interact using command-line:

In [1]:
import sqlite3

In [2]:
## connect sqlite database
connection=sqlite3.connect("example.db")
connection

In [ ]:
### # Create a cursor to execute SQL commands
cursor=connection.cursor()

In [5]:
## create table
cursor.execute('''
create Table if not Exists employees(
               id integer Primary key,
               name Text not Null,
               age Integer,
               depertment text
               )
''')

## commit the changes
connection.commit()

In [ ]:
cursor.execute('''
select * from employees
''')   ## you can see the that a new table is created.

In [8]:
cursor.execute("PRAGMA table_info(employees)")
for column in cursor.fetchall():
    print(column)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)
(3, 'depertment', 'TEXT', 0, None, 0)

In [20]:
### inser data in sqlite3 table
cursor.execute("""
Insert into employees(name,age,depertment)
               values("susovan",21,"Data Scientist")
""")
cursor.execute("""
Insert into employees(name,age,depertment)
               values("papai",12,"Data Scientist")
""")
cursor.execute("""
Insert into employees(name,age,depertment)
               values("sam",20,"Data ML")
""")

connection.commit() ## commit the changes

In [21]:
### Query the data from the table 
cursor.execute("select * from employees")
rows=cursor.fetchall()
for row in rows:
    print(row)

(8, 'pupai', 22, 'Data Scientist')
(9, 'Ram', 19, 'Data ML')
(10, 'susovan', 21, 'Data Scientist')
(11, 'papai', 12, 'Data Scientist')
(12, 'sam', 20, 'Data ML')

In [22]:
### update data in table
cursor.execute("""
update employees
               set age=19
               where name="Ram"
""")
connection.commit()

In [23]:
### Query the data from the table 
cursor.execute("select * from employees")
rows=cursor.fetchall()
for row in rows:
    print(row)

(8, 'pupai', 22, 'Data Scientist')
(9, 'Ram', 19, 'Data ML')
(10, 'susovan', 21, 'Data Scientist')
(11, 'papai', 12, 'Data Scientist')
(12, 'sam', 20, 'Data ML')

In [24]:
## delete data from table 
cursor.execute("""
delete from employees 
               where name="susovan"
""")

connection.commit()

cursor.execute("select * from employees")
rows=cursor.fetchall()
for row in rows:
    print(row)

(8, 'pupai', 22, 'Data Scientist')
(9, 'Ram', 19, 'Data ML')
(11, 'papai', 12, 'Data Scientist')
(12, 'sam', 20, 'Data ML')

In [25]:
### working with sales data

connection=sqlite3.connect("sales_data.db")
cursor=connection.cursor()

cursor.execute("""
create table if not exists sales(
               id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text
               )
""")

connection.commit()

In [26]:
cursor.execute("PRAGMA table_info(sales)")
for column in cursor.fetchall():
    print(column)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'date', 'TEXT', 1, None, 0)
(2, 'product', 'TEXT', 1, None, 0)
(3, 'sales', 'INTEGER', 0, None, 0)
(4, 'region', 'TEXT', 0, None, 0)

In [27]:
### insert many together
sales_data = [
    ("2025-07-01", "Laptop", 15, "North"),
    ("2025-07-02", "Phone", 25, "East"),
    ("2025-07-03", "Tablet", 10, "West"),
    ("2025-07-04", "Monitor", 12, "South"),
    ("2025-07-05", "Keyboard", 30, "North"),
    ("2025-07-06", "Mouse", 50, "East"),
    ("2025-07-07", "Charger", 20, "West")
]

cursor.executemany("""
Insert into sales (date, product,sales, region)
                   values(?,?,?,?)
""",sales_data)

connection.commit()

In [28]:
cursor.execute("select * from sales")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, '2025-07-01', 'Laptop', 15, 'North')
(2, '2025-07-02', 'Phone', 25, 'East')
(3, '2025-07-03', 'Tablet', 10, 'West')
(4, '2025-07-04', 'Monitor', 12, 'South')
(5, '2025-07-05', 'Keyboard', 30, 'North')
(6, '2025-07-06', 'Mouse', 50, 'East')
(7, '2025-07-07', 'Charger', 20, 'West')

In [29]:
## close connection 
connection.close()